felixN.cif
felixN.hkl
felixN.inp
pylix_modules/__pycache__/pylix.cpython-311.pyc
pylix_modules/__pycache__/pylix_class.cpython-311.pyc
pylix_modules/__pycache__/simulate.cpython-311.pyc
felix0.cif
felix0.hkl
felix0.inp
pylix_modules/__pycache__/pylix.cpython-312.pyc
pylix_modules/__pycache__/pylix_class.cpython-312.pyc
pylix_modules/__pycache__/simulate.cpython-312.pyc


pylix_modules/__pycache__/pylix.cpython-312.pyc
pylix_modules/__pycache__/pylix.cpython-312.pyc
pylix_modules/__pycache__/pylix_dicts.cpython-312.pyc
pylix_modules/__pycache__/pylix_class.cpython-312.pyc
pylix_modules/__pycache__/simulate.cpython-312.pyc
pylix_modules/__pycache__/__init__.cpython-311.pyc
pylix_modules/__pycache__/__init__.cpython-311.pyc
pylix_modules/__pycache__/pylix.cpython-311.pyc
pylix_modules/__pycache__/pylix_class.cpython-311.pyc
pylix_modules/__pycache__/pylix_dicts.cpython-311.pyc
pylix_modules/__pycache__/simulate.cpython-311.pyc
